<!--
<h1>Notifications#email_confirmation</h1>

<p>
  <%= @greeting %>, find me in app/views/notifications_mailer/email_confirmation.html.erb
</p>
-->

<p>
  This is a confirmation that we have received your request to be notified
  when your selected class becomes available.
</p>