<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="container">
<%=
# Get your credentials from your Mailgun dashboard, or from Canvas if you're using mine
#mg_api_key = "key-6e8f628f8c07bb415ef31325c2207dbf"
#mg_sending_domain = "mg.appdevproject.com"

# Create an instance of the Mailgun Client and authenticate with your API key
#mg_client = Mailgun::Client.new(mg_api_key)

# Craft your email as a Hash literal with these four keys
#email_parameters =  { 
 # :from => "umbrella@appdevproject.com",
#  :to => "tjhprivate0416@gmail.com",  # Put your own email address here if you want to see it in action
#  :subject => "Take an umbrella today!",
 # :text => "It's going to rain today, take an umbrella with you!"
#}

# Send your email!
#mg_client.send_message(mg_sending_domain, email_parameters)

%>
  <!-- your content here... -->
  
<div class="row">

  <div class="col">
    <h1 style="color:white;">Welcome!</h1>
    <p style="color:white;">A navigator for planning and choosing CS courses.</p>
  </div>

  <div class="col">

    <a href="/manual">
    <div class="card card1">
      <h5>
      CS Manual
      </h5>
      <br>
      <p>Peer adivce on how to optimize your course selection</p>
    </div>
    </a>

    <a href="https://course-info.cs.uchicago.edu/" target="_blank">
    <div class="card card2">
      <h5>
       CS Info
      </h5>
      <br>
      <p>Most up-to-date page about CS course offerings and designations</p>
    </div>
    </a>

    <a href="http://collegecatalog.uchicago.edu/thecollege/computerscience/" target="_blank">
    <div class="card card3">
      <h5>
      College Catalog
      </h5>
      <br>
      <p>Details for the CS major and graduation requirement</p>
    </div>

    <a href="https://registrar.uchicago.edu/registration/college-process/course-feedback/" target="_blank">
    <div class="card card4">
      <h5>
      Course Eval
      </h5>
      <br>
      <p>Student feedbacks on their experiences in past courses</p>
    </div>
    </a>
  </div>
</div>


</body>
</html>


      

      
