<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class='terminal-style'>
  <!-- your content here... -->
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div style="text-align: center;">
  <pre>
  <output>
  <div><h2>The notification bot is for UChicago students to get email notifications as soon as a seat becomes available in a full course.</h2></div>
  <div><h2>To use this service, go to <a href="https://github.com/UChicago-Tech-Challenge-Spring-2022/the-notification-bot" target=”_blank”>here</a> and follow the instruction! You will also need this key: 
  <div style="color: red;">key-6e8f628f8c07bb415ef31325c2207dbf</div>
  </output>
  </pre>
  </div>
</body>
</html>


      

  