<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class='terminal-style'>
  <!-- your content here... -->
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div style="text-align: center;">
  <pre>
  <output>
  <div><h2>The Bot is for UChicago students to get email notifications as soon as a seat becomes available in a full course.</h2></div>
  <%=form_with url:"/notification", method: :post do |form|%>
  <%=form.text_field :email, placeholder: "Enter your email address here"%>
  <%=form.text_field :courseNum, placeholder: "Enter the course number here, e.g. CMSC 15400"%>
  <%=form.submit "Start Monitoring"%>

  <% end %>
  </output>
  </pre>
  </div>
</body>
</html>


      

  