<h1 style="color:blue;">This is notification</h1>


<form action="/notification" method="post">
  <label for="courseNumber">Course Number:</label><br>
  <input type="text" id="courseNumber" name="courseNumber" value="e.g. CMSC 25400"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" value=<%=current_user.email%>><br><br>
  <input type="submit" value="Submit">
</form>