<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<script>
  function store(str){
      var text = document.getElementById(str).innerHTML;
      document.getElementById(str).innerHTML = 5+6;
  }
</script>

</head>

 <body>
 
  <table>

  <%#First Year#%>
  <tr>
    <th class="th1">First-Year:</th>
  </tr>

  <tr>
    <th class="th1">Autumn</th>
    <th class="th1">Winter</th>
    <th class="th1">Spring</th>
    <th class="th1"></th>
  </tr>
  <tr>
    <td contenteditable="true" id="1a1" onblur="store('1a1')">class</td>
    <td contenteditable="true" id="1w1" onblur="store('1w1')">class</td>
    <td contenteditable="true" id="1s1" onblur="store('1s1')">class</td>
    <td contenteditable="true" id="1su1" onblur="store('1su1')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="1a2" onblur="store('1a2')">class</td>
    <td contenteditable="true" id="1w2" onblur="store('1w2')">class</td>
    <td contenteditable="true" id="1s2" onblur="store('1s2')">class</td>
    <td contenteditable="true" id="1su2" onblur="store('1su2')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="1a3" onblur="store('1a3')">class</td>
    <td contenteditable="true" id="1w3" onblur="store('1w3')">class</td>
    <td contenteditable="true" id="1s3" onblur="store('1s3')">class</td>
    <td contenteditable="true" id="1su3" onblur="store('1su3')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="1a4" onblur="store('1a4')">class</td>
    <td contenteditable="true" id="1w4" onblur="store('1w4')">class</td>
    <td contenteditable="true" id="1s4" onblur="store('1s4')">class</td>
    <td contenteditable="true" id="1su4" onblur="store('1su4')"></td>
  </tr>
    <tr>
    <td contenteditable="true" id="1a5" onblur="store('1a5')"></td>
    <td contenteditable="true" id="1w5" onblur="store('1w5')"></td>
    <td contenteditable="true" id="1s5" onblur="store('1s5')"></td>
    <td contenteditable="true" id="1su5" onblur="store('1su5')"></td>
  </tr>

  
  <%#Second Year#%>
  <tr>
    <th class="th1">Second-Year:</th>
  </tr>

  <tr>
    <th class="th1">Autumn</th>
    <th class="th1">Winter</th>
    <th class="th1">Spring</th>
    <th class="th1"></th>
  </tr>
  <tr>
    <td  contenteditable="true" id="2a1" onblur="store('2a1')">class</td>
    <td  contenteditable="true" id="2w1" onblur="store('2w1')">class</td>
    <td  contenteditable="true" id="2s1" onblur="store('2s1')">class</td>
    <td  contenteditable="true" id="2su1" onblur="store('2su1')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="2a2" onblur="store('2a2')">class</td>
    <td contenteditable="true" id="2w2" onblur="store('2w2')">class</td>
    <td contenteditable="true" id="2s2" onblur="store('2s2')">class</td>
    <td contenteditable="true" id="2su2" onblur="store('2su2')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="2a3" onblur="store('2a3')">class</td>
    <td contenteditable="true" id="2w3" onblur="store('2w3')">class</td>
    <td contenteditable="true" id="2s3" onblur="store('2s3')">class</td>
    <td contenteditable="true" id="2su3" onblur="store('2su3')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="2a4" onblur="store('2a4')">class</td>
    <td contenteditable="true" id="2w4" onblur="store('2w4')">class</td>
    <td contenteditable="true" id="2s4" onblur="store('2s4')">class</td>
    <td contenteditable="true" id="2su4" onblur="store('2su4')"></td>
  </tr>
    <tr>
    <td contenteditable="true" id="2a5" onblur="store('2a5')"></td>
    <td contenteditable="true" id="2w5" onblur="store('2w5')"></td>
    <td contenteditable="true" id="2s5" onblur="store('2s5')"></td>
    <td contenteditable="true" id="2su5" onblur="store('2su5')"></td>
  </tr>

  <%#Third Year#%>
  <tr>
    <th class="th2">Third-Year:</th>
  </tr>

  <tr>
    <th class="th2">Autumn</th>
    <th class="th2">Winter</th>
    <th class="th2">Spring</th>
    <th class="th2"></th>
  </tr>
  <tr>
    <td contenteditable="true" id="3a1" onblur="store('3a1')">class</td>
    <td contenteditable="true" id="3w1" onblur="store('3w1')">class</td>
    <td contenteditable="true" id="3s1" onblur="store('3s1')">class</td>
    <td contenteditable="true" id="3su1" onblur="store('3su1')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="3a2" onblur="store('3a2')">class</td>
    <td contenteditable="true" id="3w2" onblur="store('3w2')">class</td>
    <td contenteditable="true" id="3s2" onblur="store('3s2')">class</td>
    <td contenteditable="true" id="3su2" onblur="store('3su2')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="3a3" onblur="store('3a3')">class</td>
    <td contenteditable="true" id="3w3" onblur="store('3w3')">class</td>
    <td contenteditable="true" id="3s3" onblur="store('3s3')">class</td>
    <td contenteditable="true" id="3su3" onblur="store('3su3')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="3a4" onblur="store('3a4')">class</td>
    <td contenteditable="true" id="3w4" onblur="store('3w4')">class</td>
    <td contenteditable="true" id="3s4" onblur="store('3s4')">class</td>
    <td contenteditable="true" id="3su4" onblur="store('3su4')"></td>
  </tr>
    <tr>
    <td contenteditable="true" id="3a5" onblur="store('3a5')"></td>
    <td contenteditable="true" id="3w5" onblur="store('3w5')"></td>
    <td contenteditable="true" id="3s5" onblur="store('3s5')"></td>
    <td contenteditable="true" id="3su5" onblur="store('3su5')"></td>
  </tr>

  <%#Fourth-Year#%>
  <tr>
    <th class="th2">Fourth-Year:</th>
  </tr>

  <tr>
    <th class="th2">Autumn</th>
    <th class="th2">Winter</th>
    <th class="th2">Spring</th>
    <th class="th2"></th>
  </tr>
  <tr>
    <td contenteditable="true" id="4a1" onblur="store('4a1')">class</td>
    <td contenteditable="true" id="4w1" onblur="store('4w1')">class</td>
    <td contenteditable="true" id="4s1" onblur="store('4s1')">class</td>
    <td contenteditable="true" id="4su1" onblur="store('4su1')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="4a2" onblur="store('4a2')">class</td>
    <td contenteditable="true" id="4w2" onblur="store('4w2')">class</td>
    <td contenteditable="true" id="4s2" onblur="store('4s2')">class</td>
    <td contenteditable="true" id="4su2" onblur="store('4su2')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="4a3" onblur="store('4a')">class</td>
    <td contenteditable="true" id="4w3" onblur="store('4w3')">class</td>
    <td contenteditable="true" id="4s3" onblur="store('4s3')">class</td>
    <td contenteditable="true" id="4su3" onblur="store('4su3')"></td>
  </tr>
  <tr>
    <td contenteditable="true" id="4a4" onblur="store('4a4')">class</td>
    <td contenteditable="true" id="4w4" onblur="store('4w4')">class</td>
    <td contenteditable="true" id="4s4" onblur="store('4s4')">class</td>
    <td contenteditable="true" id="4su4" onblur="store('4su4')"></td>
  </tr>
    <tr>
    <td contenteditable="true" id="4a5" onblur="store('4a5')"></td>
    <td contenteditable="true" id="4w5" onblur="store('4w5')"></td>
    <td contenteditable="true" id="4s5" onblur="store('4s5')"></td>
    <td contenteditable="true" id="4su5" onblur="store('4su5')"></td>
  </tr>
</table>


  </body>
</html>


      

      
