<h1 style="color:red;">UChicago Tech Community Challenge</h1>


<!-- 
regarding calendar
https://www.liquidlight.co.uk/blog/create-an-event-schedule-with-html-table/
https://www.geeksforgeeks.org/how-to-create-time-table-schedule-using-html/
https://www.codeproject.com/Articles/732679/HTML-Event-Calendar-Scheduler

  -->


<div class="topnav">
  <input type="text" placeholder="Search..">
</div>

