<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>UChicago CS Advising Web</title>

  <meta property="og:title" content="A Basic HTML5 Template">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="A simple HTML5 Template for new projects.">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <!-- your content here... -->
  
<div class="row">

  <div class="col">
    <h1 style="color:maroon;">Welcome!</h1>
    <p>The best navigator for choosing CS courses.</p>
  </div>

  <div class="col">

    <a href="/manual">
    <div class="card">
      <h5>
      CS Manual
      </h5>
      <p>Handwritten, updated advice on how to plot your course path</p>
    </div>
    </a>

    <a href="https://course-info.cs.uchicago.edu/" target="_blank">
    <div class="card">
      <h5>
       CS Info
      </h5>
      <p>The page where CS department update our courses</p>
    </div>
    </a>

    <a href="http://collegecatalog.uchicago.edu/thecollege/computerscience/" target="_blank">
    <div class="card">
      <h5>
      College Catalog
      </h5>
      <p>Shows you regular college catalog page</p>
    </div>

    <a href="https://registrar.uchicago.edu/registration/college-process/course-feedback/" target="_blank">
    <div class="card">
      <h5>
      Course Eval
      </h5>
      <p>Course feedback website of the school</p>
    </div>
    </a>
  </div>
</div>
</body>
</html>


      

      
